@use "structure";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Quicksand:wght@300&display=swap");

* {
    margin: 0px;
    border: 0px;
    font-family: "Noto Sans Display", sans-serif;
    font-family: "Quicksand", sans-serif;
}

body {
    height: 100vh;
    background: rgb(212, 163, 115);
    background: linear-gradient(
        0deg,
        rgba(212, 163, 115, 1) 0%,
        rgba(250, 237, 205, 1) 0%,
        rgba(233, 237, 201, 1) 90%
    );
}

.grid {
    @include structure.flexMix(column, start, center);
}

.header__container {
    @include structure.flexMix(row, center, center);
    height: 100px;
    &--menu {
        list-style-type: none;
        @include structure.flexMix(row, center, center);
        height: 50px;
        font-size: 20px;
    }
}
.nav--link {
    margin: 20px;
    @include structure.flexMix(row, center, center);
    text-decoration: none;
    &:hover {
        color: #d4a373;
        text-decoration: underline;
        font-weight: bolder;
    }
}
.about__container {
    @include structure.flexMix(column, start, center);
    width: 55%;
}

.footer__container {
    grid-area: footer;
    background-color: #e9edc9;
}

.card {
    @include structure.flexMix(column, center, center);
    flex-wrap: wrap;
    border: #ccd5ae 2px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin: 0px 10px 10px 20px;
    padding: 5px;
    &--image {
        height: 50%;
        // all images in the portfolio take up 50% width of their container
    }
}

.text {
    &--centre {
        text-align: center;
    }
    &--left {
        text-align: left;
    }
    &--right {
        text-align: right;
    }
}
